{#
/**
 * @file
 * Group Subscription theme implementation to display a node in an email.
 * Used for queued daily notifications - typically displays summaries.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}

<article id="node-{{ node.id }}" {{ attributes }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes }}>
    {{ content|without('comment', 'links', 'field_tags') }}
  </div>

</article>
